@model CreateWeddingViewModel
@{
    ViewData["Title"] = "Plan Your Wedding";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Weddings" asp-action="Create" method="post" class="form-horizontal">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="WedderOne" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WedderOne" class="form-control" />
            <span asp-validation-for="WedderOne" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="WedderTwo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WedderTwo" class="form-control" />
            <span asp-validation-for="WedderTwo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input type="date" asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
